<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795601718124-ruf5s18uagvmufds4idfmht94ad2pjke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795601718124-ruf5s18uagvmufds4idfmht94ad2pjke</string>
	<key>API_KEY</key>
	<string>AIzaSyDrEdnwC23yTJXzlFzcc3UtShf7OyUDhsA</string>
	<key>GCM_SENDER_ID</key>
	<string>795601718124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.highAloneStartup</string>
	<key>PROJECT_ID</key>
	<string>cau-capstone-dm</string>
	<key>STORAGE_BUCKET</key>
	<string>cau-capstone-dm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795601718124:ios:4a4bf5384d3656d2b64149</string>
</dict>
</plist>